{
	"presets": [
		["@babel/preset-env", { "modules": false }],
		"@babel/preset-react",
		"@wordpress/babel-preset-default"
	],
	"plugins": [
		["@babel/plugin-transform-runtime", { "absoluteRuntime": false }]
	]
}
