// {
// "presets": [
//     "@wordpress/babel-preset-default",
//     "@babel/preset-env",
//     "@babel/preset-react"
// ],
// "plugins": [
//     "@babel/plugin-proposal-class-properties",
//     ["@babel/plugin-transform-runtime", {
//     "helpers": true,
//     "regenerator": false
//     }]
// ]
// }

{
	"presets": [
		["@babel/preset-env", { "modules": false }],
		"@babel/preset-react",
		"@wordpress/babel-preset-default"
	],
	"plugins": [["@wordpress/babel-plugin-makepot"]]
}
