<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<!-- <directory suffix="Test.php">./tests/</directory> -->
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<exclude>./tests/test-sample.php</exclude>
		</testsuite>
	</testsuites>
	
	<coverage>
		<include>
			<directory suffix=".php">./includes/Admin/Options.php</directory>
			<!-- <directory suffix=".php">./src/</directory> -->
		</include>
		<exclude>
			<directory>./tests/</directory>
			<directory>./vendor/</directory>
			<file>./gutenberg-starter.php</file>
		</exclude>
		<report>
			<html outputDirectory="coverage-html"/>
			<text outputFile="coverage.txt"/>
			<clover outputFile="coverage.xml"/>
		</report>
	</coverage>
</phpunit>
