.gts__card {
	.card {
		&__footer {
			.wp-block-button__link {
				border: solid 2px theme('colors.slate.700');
				transition: all 0.3s ease;
			}
		}
	}
	.components-placeholder__instructions {
		display: block !important;
	}
}
