.gts__card {
	.card {
		transition: all 0.3s ease;
		&__footer {
			.wp-block-button {
				&.is-style-outline {
					&:hover {
						.wp-block-button__link {
							background-color: theme('colors.slate.700');
							color: theme('colors.white');
						}
					}
				}
				.wp-block-button__link {
					border: solid 2px theme('colors.slate.700');
					transition: all 0.3s ease;
					color: theme('colors.white');
					background-color: theme('colors.slate.700');
					&:hover {
						background-color: theme('colors.white');
						color: theme('colors.black');
						border-color: theme('colors.slate.700');
					}
				}
			}
		}
	}
}
