@import './blocks/blurb/style/frontend.scss';
@import './blocks/card/style/frontend.scss';
@import './blocks/call-to-action/style/frontend.scss';
@import './blocks/single-post/style/frontend.scss';
@import './blocks/recent-product/style/frontend.scss';
