.gts__blurb {
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	&__container {
		padding: 30px;
		h2 {
			margin-top: 0px;
			margin-bottom: 10px;
		}
	}
	&__button {
		display: inline-block;
		margin-top: 10px;
	}
}
